@import "tailwindcss";

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    @apply bg-slate-50 text-slate-700 font-sans antialiased;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-bold text-slate-900;
  }
}
